/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--ifm-navbar-height));
  background-color: var(--ifm-background-color);
  padding: var(--ifm-navbar-padding-vertical) var(--ifm-navbar-padding-horizontal);
}

.profileContainer {
  text-align: center;
  max-width: 700px;
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.profileDescription {
  font-size: 1rem;
}

.socialLinks > a {
  margin: 0.5rem 0.5rem;
}